*{
    border: 0px dotted red;
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
    color: white;
}

.home{
    height: 50%;
    padding-left: 25%;
    padding-bottom: 15%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: black;
}

