*{
    border: 0px dotted red;
    margin: 0 auto;
    padding: 0 auto;
    background-color: black;
    color: white;
}

#home{
    padding-left: 35%;
    padding-bottom: 10%;
    margin-left: 5%;
}

#about{
    margin-left: 20%;
}

#skills {
    margin-left: 20%;
}

#projects {
    margin-left: 20%;
    padding-bottom: 20%;
}

#footer {
    margin-left: 20%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0 15px;
    background: black;
    overflow-y: auto;
    -o-border-image: linear-gradient(to top, #005678, #2a9fb2);
    border-image: -webkit-gradient(linear, left bottom, left top, from(#005678), to(#2a9fb2));
    border-image: linear-gradient(to top, #005678, #2a9fb2);
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;
    justify-content: center;
}

#header .profile {
    margin-top: 10em;
}

#header .profile h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #d1f7ff;
    font-weight: 50;
    text-align-last: center;
    text-align: center;
}

#header .profile h1 a, #header .profile h1 a:hover {
    color: #ff2a6d;
    text-decoration: none;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: #ff2a6d;
    line-height: 1;
    padding: 8px 0;
    margin: 24px;
    border-radius: 50%;
    border-color: #05d9e8;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 36px;
    height: 36px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 1em;
}

#header .profile .social-links a:hover {
    background: #5c58b6;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    padding: 30px 0 0 0;
}

  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, .nav-menu a:focus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i, .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
    color: #ff2a6d;
}

  /* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none !important;
    background-color: transparent;
    color: #ff2a6d;
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}
